{%extends "base.html"%}
{%block content%}
<script type="text/javascript">

$(function(){
	$('#dealer tr:odd').css('backgroung-colour','#eeeeee');
});
</script>
{% if perms.proc.add_agent %}
	<ul class="object-tools">
		<li>
			<a href="add">	Добавить</a>
		</li>
	</ul>
{% endif %}
<br/>
<table id='dealer'>
  <tr>
    <th>NAME</th>
    <th>LOGIN</th>    
    <th>DEALER</th>
    
  </tr>

{%for s in s_list  %}
  <tr>
    <td><a href="{{s.id}}">{{s.user.username}}</a></td>
    <td>{{s.login}}</td>
    <td>{{s.dealer.user.username}}</td>
    
  </tr>

{%endfor %}
</table>

{%endblock%}