{%extends "base.html"%}
{%block content%}

   

    {% if form.errors %}
        <p style="color: red;">
            Please correct the error{{ form.errors|pluralize }} below.
        </p>
    {% endif %}


	<form action="" method="post">
    	{% csrf_token %}       
        <table  class="tbl_frm">
            {{ form.as_table }}
            
            
            {% if del_url %}
            	<td>IP адреса</td>
            	<td>
            		<a href="{% url mysite.proc.views.address.ipaddress form.instance.id 'dealer' %}">***</a>
            	</td>
            {% endif %}
        </table>
        {% if del_url %}
        	<ul class="object-tools">
        		<li><a href="addres">Адреса</a></li>
				<li><a href="{{del_url}}">Удалить</a></li>
			</ul>
        {% endif %}
        <input type="submit" value="Сохранить">
    </form>

{%endblock%}