
{%extends "base.html"%}
{%block content%}
<script type="text/javascript">

$(function(){
	$('#dealer tr:odd').css('backgroung-colour','#eeeeee');
});
</script>
{% if perms.proc.add_transaction %}
	<ul class="object-tools">
		<li>
			<a href="add">	Добавить</a>
		</li>
	</ul>
{% endif %}<br/><br/><br/>
<table id='pay' class='tbl'>
  <tr>
    <th>дата</th>    
    <th>диллер</th>        
    <th>остаток на начало</th>    
    <th>сумма</th>
    
    
  </tr>

{%for s in s_list  %}
  <tr>
    <td>{{s.date|date:"d.m.y H:i:s"}}</td>
    <td>{{s.dealer.user.username}}</td>    
    <td>{{s.saldo}}</td>
    <td>{{s.summa}}</td>    
    
    
  </tr>

{% endfor %}
</table>

{% endblock%}