{%extends "base.html"%}
{%block content%}
<script type="text/javascript">

$(function(){
	$('#ipaddress tr:odd').css('backgroung-colour','#eeeeee');
});
</script>
{% if perms.proc.add_address %}
	<ul class="object-tools">
		<li>
			<a href="{% url mysite.proc.views.address.ipaddress_form_add id_ content %}">	Добавить</a>
		</li>
	</ul>
{% endif %}<br/>
<table id='ipaddress' class='tbl'>
  <tr>
    <th>IP адрес</th>    
    
  </tr>

{%for s in s_list  %}
  <tr>
    <td><a href="{% url mysite.proc.views.address.ipaddress_form id_ content s.id %}">{{s.ip}}</a></td>
    
    
    
  </tr>

{%endfor %}
</table>

{%endblock%}