{%extends "base.html"%} 
{% block head %}
<script src="/proc/static/js/jquery.jqGrid.js" type="text/javascript"></script>
{% endblock %}

{%block content%}

<script type="text/javascript">

$(function(){
	$('#dealer tr:odd').css('backgroung-colour','#eeeeee');
});

$(function () {
    $.getJSON("{% url grid_config %}", function(data){
        $("#mygrid")
            .jqGrid(data)
            .navGrid('#pager', 
                {add: false, edit: false, del: false, view: true},
        {}, // edit options
        {}, // add options
        {}, // del options 
        { multipleSearch:true, closeOnEscape:true }, // search options 
        { jqModal:false, closeOnEscape:true} // view options 
        );
    });
});

</script>

<br />
<table id='dealer'>
	<tr>
		<th>Агент</th>
		<th>Дата</th>
		<th>Связь</th>
		<th>Количество купюр</th>
		<th>Состояние купюроприемника</th>
		<th>Состояние принтера</th>
		<th>Состояние терминала</th>

	</tr>

	{%for s in s_list %}
	<tr>
		<td>{{s.agent.user.username}}</a>
		</td>
		<td>{{s.date|date:"d.m.y H:i:s"}}</td>
		<td>{% if s.link %} <img src="/proc/static/img/icon-yes.gif" />
			{% else %} <img src="/proc/static/img/icon-no.gif" /> {% endif %}</td>

		<td>{{s.cash_count}}</td>
		<td>{{s.cash_code.name}}</td>
		<td>{{s.printer.name}}</td>
		<td>{{s.terminal.name}}</td>


	</tr>

	{%endfor %}
</table>

<table id="mygrid" class="scroll" cellpadding="0" cellspacing="0"></table>

{%endblock%}
