{%extends "base.html"%}
{% block head %}
<!-- META HTTP-EQUIV="Refresh" CONTENT="5" > -->
<!-- META HTTP-EQUIV="Refresh" CONTENT="500" > -->
  	<link rel="stylesheet" type="text/css" media="screen" href="/proc/static/js/themes/jquery-ui.custom.css" />
	<link rel="stylesheet" type="text/css" media="screen" href="/proc/static/js/themes/ui.jqgrid.css" />
  	<script src="/proc/static/js/i18n/grid.locale-ru.js" type="text/javascript"></script>
  	<script src="/proc/static/js/jquery.jqGrid.min.js" type="text/javascript"></script> 

<script type="text/javascript">
$(function () {
	        $("#mongrid").jqGrid({
            	"altRows": true, 
            	"rowList": [ 10, 25, 50, 100], 
            	"sortname": "id", 
            	"viewrecords": true, 
            	"autowidth": false,            	
            	"forcefit": true, 
            	"shrinkToFit": true, 
            	"height": "auto", 
            	"caption": "Состояния агента", 
            	"datatype": "json", 
            	"gridview": true, 
            	"colModel": [
            	             {"index": "id", "name": "id", "editable": false, "label": "№", 
            	            	  "width": 40,	 "formatter": extFormatLogLink}, 
            	             {"index": "date", "width": 130, "editable": false, 
            	            		 "name": "date", "label": "Время"},
            	             {"index": "agent__id", "hidden": true},            	            		 
            	             {"index": "agent__name", "width": 150, "editable": false, 
            	            		 "name": "agent__name", "label": "Агент"}, 
            	             {"index": "link", "name": "link", "editable": false, 
            	            		"label": "\u041a\u0430\u043d\u0430\u043b", "width": 60, 
            	            		"formatter": extFormatBoolLink},
            	            {"index": "cash_count", "width": 80, "editable": false, 
                	            		 "name": "cash_count", "label": "кол-во купюр",	 "formatter": extFormatNominalLink},
                	        {"index": "cash_code__name", "width": 120, "editable": false, 
                    	            		 "name": "cash_code__name", "label": "купюроприемник"},
                    	    {"index": "printer__name", "width": 120, "editable": false, 
                        	            		 "name": "printer__name", "label": "принтер"},
                        	{"index": "terminal__name", "width": 120, "editable": false, 
                            	            		 "name": "terminal__name", "label": "терминал"}
            	            ], 
            	 "sortorder": "desc", 
            	 "url": "/proc/grid/monitor/", 
            	 "rowNum": 10, 
            	 "pager": "#pager", 
            	 "jsonReader": {"repeatitems": false}
            }).navGrid('#pager', 
                {add: false, edit: false, del: false, view: true},
        {}, // edit options
        {}, // add options
        {}, // del options 
        { multipleSearch:true, closeOnEscape:true }, // search options 
        { jqModal:true, closeOnEscape:true} // view options
        ).filterToolbar({stringResult: true,searchOnEnter : false});
    
});

function extFormatBoolLink(cellvalue, options, rowObject) {
	var s = '';
	if (cellvalue)
		s = '<img src="/proc/static/img/icon-yes.gif" />';
	else
		s = '<img src="/proc/static/img/icon-no.gif" />';
		
	return s;
    
}

function extFormatLogLink(cellvalue, options, rowObject) {
	var s = '';	
	s = '<a href="logs/'+rowObject["agent__id"]+'" > '+cellvalue+'</a>';	
	return s;
    
}
function extFormatNominalLink(cellvalue, options, rowObject) {
	var s = '';	
	s = '<a href="/proc/nominal/'+rowObject["agent__id"]+'" > '+cellvalue+'</a>';		
	return s;    
}


jQuery(document).ready(function() {
	refreshGrid();
});

	function refreshGrid()
	{		
		t=setTimeout("refreshGrid()",30000);
		$("#mongrid").trigger("reloadGrid");
	}	
</script>
{%endblock%}


{%block content%}

<table class="grid" id="mongrid"></table>
<div id="pager"></div>

{%endblock%}