{%extends "base.html"%}
{%block content%}
<script type="text/javascript">

$(function(){
	$('#op_service tr:odd').css('backgroung-colour','#eeeeee');
});
</script>
{% if perms.proc.add_opservice %}
	<ul class="object-tools">
		<li>
			<a href="add">	Добавить</a>
		</li>
	</ul>
{% endif %}
<br/>

<table id='op_service' class='tbl'>
  <tr>
    <th>Код</th>
    <th>Наименование</th>
    <th>Порядок</th>
    <th>Тип</th>
    <th>Проверять</th>
    <th>Маска</th>
    <th>Статус</th>
  </tr>

{%for s in s_list  %}
  <tr>
    <td><a href="{{s.id}}">{{s.code}}</a></td>
    <td>{{s.name}}</td>
    <td>{{s.order}}</td>
    <td>{{s.type.name}} </td>
    <td>{{s.need_check}}</td>
    <td>{{s.mask}}</td>
    <td>{{s.state.name}}</td>
  </tr>

{%endfor %}
</table>

{%endblock%}