{%extends "base.html"%}
{%block content%}
<script type="text/javascript">

$(function(){
	$('#dealer tr:odd').css('backgroung-colour','#eeeeee');
});
</script>
<a href="add">Add new</a>
<br/>
<table id='pay'>
  <tr>
    <th>AGENT</th>
    <th>NUMBER</th>
    <th>SUMMA</th>
    <th>SUM_PAY</th>
    <th>COMMISS</th>
    <th>DATA</th>    
    <th>DEALER</th>
    
  </tr>

{%for s in s_list  %}
  <tr>
    <td><a href="{{s.id}}">{{s.agent.user.username}}</a></td>
    <td>{{s.number_key}}</td>
    <td>{{s.summa}}</td>
    <td>{{s.summa_pay}}</td>
    <td>{{s.summa_commiss}}</td>
    <td>{{s.date|date:"j F Y"}}</td>
    <td>{{s.agent.dealer.user.username}}</td>
    
  </tr>

{%endfor %}
</table>

{%endblock%}