
{%extends "base.html"%}
{% block head %}
<!-- META HTTP-EQUIV="Refresh" CONTENT="5" > -->
<!-- META HTTP-EQUIV="Refresh" CONTENT="500" > -->
  	<link rel="stylesheet" type="text/css" media="screen" href="/proc/static/js/themes/jquery-ui.custom.css" />
	<link rel="stylesheet" type="text/css" media="screen" href="/proc/static/js/themes/ui.jqgrid.css" />
  	<script src="/proc/static/js/i18n/grid.locale-ru.js" type="text/javascript"></script>
  	<script src="/proc/static/js/jquery.jqGrid.min.js" type="text/javascript"></script> 
	<script type="text/javascript" src="/proc/static/js/jquery.maskedinput.js"></script> 
  	

<script type="text/javascript">
$(function () {
	        $("#pay").jqGrid({
            	"altRows": true, 
            	"rowList": [ 25, 50, 100, 1000], 
            	"sortname": "date", 
            	"viewrecords": true, 
            	"autowidth": false,            	
            	"forcefit": true, 
            	"shrinkToFit": true, 
            	"height": "auto", 
            	"caption": "Платежи", 
            	"datatype": "json", 
            	"gridview": true, 
            	"colModel": [
            	             {"index": "id","hidden": true},
            	             {"index": "ticket","name": "ticket", "editable": false, "label": "№ чека", 
                	            	  "width": 100,	 "formatter": extFormatLogLink},
            	             {"index": "date", "width": 130, "editable": false, 
            	            		 "name": "date", "label": "Время"},
            	             {"index": "agent__id", "hidden": true},            	            		 
            	             {"index": "agent__user__username", "width": 140, "editable": false, 
            	            		 "name": "agent__user__username", "label": "Агент"},
            	             {"index": "agent__dealer__user__username", "width": 140, "editable": false, 
                	            		 "name": "agent__dealer__user__username", "label": "Диллер"},
                	         {"index": "number_key", "width": 120, "editable": false, 
       	            		 			     "name": "number_key", "label": "Номер"}, 
            	             
            	            {"index": "summa", "width": 70, "editable": false, 
                	            		 "name": "summa", "label": "сумма"},
                	        {"index": "summa_pay", "width": 70, "editable": false, 
                    	            		 "name": "summa_pay", "label": "к оплате"},
                    	    {"index": "state__name", "width": 130, "editable": false, 
                        	            		 "name": "state__name", "label": "статус"},
       	            		{"index": "route", "width": 70, "editable": false, 
           	            		 			     "name": "route", "label": "Маршрут"},
 	            		 	{"index": "try_count", "width": 70, "editable": false, 
     	            		 			     "name": "try_count", "label": "Кол. попыток"}, 
            	            ], 
            	 "sortorder": "desc", 
            	 {% if id_%}
	        		"url": "/proc/grid/pay/{{id_}}/{{content}}",
	        	 {% else %}
            	 	"url": "/proc/grid/pay/",            		
            	 {% endif %}
            	 "rowNum": 25, 
            	 "pager": "#pager", 
            	 "jsonReader": {"repeatitems": false}
            }).navGrid('#pager', 
                {add: false, edit: false, del: false, view: true},
        {}, // edit options
        {}, // add options
        {}, // del options 
        { multipleSearch:true, closeOnEscape:true }, // search options 
        { jqModal:true, closeOnEscape:true} // view options
        ).filterToolbar({stringResult: true,searchOnEnter : false});
    
});


function extFormatLogLink(cellvalue, options, rowObject) {
	var s = '';
	
	{% if id_%}
		s = '<a href="{{content}}/'+rowObject["id"]+'" > '+cellvalue+'</a>';
	{% else %}	
		s = '<a href="'+rowObject["id"]+'" > '+cellvalue+'</a>';
	{% endif %}
		
	return s;    
}
	
	$(function() {
  		$("#id_date_begin").mask("99.99.9999");	
  		$("#id_date_end").mask("99.99.9999");
  	});


</script>
{%endblock%}


{%block content%}

	<form action="/proc/xls/pay/" method="post">
    	{% csrf_token %}       
        <table class="tbl_frm">
			<tr class="required"><th><label for="id_date_begin">Дата от:</label></th><td><input type="text" name="date_begin"  id="id_date_begin" /></td></tr>
			<tr class="required"><th><label for="id_date_end">Дата до:</label></th><td><input type="text" name="date_end" id="id_date_end" /></td></tr>				        
        </table>
        
        <input type="submit" value="Выгрузить в Excel">
    </form>

{% if perms.proc.add_transaction %}
	<ul class="object-tools">
		<li>
			{% if id_%}
				<a href="{% url mysite.proc.views.transaction.pay_form_add id_ content %}">	Добавить</a>
			{% else %}	
        		<a href="add">	Добавить</a>
        	{% endif %}
		</li>
	</ul>
{% endif %}<br/><br/><br/>

<table class="grid" id="pay"></table>
<div id="pager"></div>

{% endblock%}