{%extends "base.html"%}
{%block content%}

   

    {% if form.errors %}
        <p style="color: red;">
            Please correct the error{{ form.errors|pluralize }} below.
        </p>
    {% endif %}
					
	<form action="" method="post">
    	{% csrf_token %}       
        <table class="tbl_frm">	
        	{% if request.session.is_admin %}
        	<tr><th><label for="id_agent">Агент:</label></th>
            	<td>
            		<ul>
						{% for err in form.agent.errors %}
						<li>{{ err|striptags }}</li>
						{% endfor %}
					</ul>
            		{{ form.agent }}
				</td>
			</tr>	
			{% endif %}
            <tr><th><label for="id_opservices">Оператор услуг:</label></th>
            	<td>
            		<ul>
						{% for err in form.opservices.errors %}
						<li>{{ err|striptags }}</li>
						{% endfor %}
					</ul>            		
            		{{ form.opservices }}
				</td>
			</tr>
			<tr><th><label for="id_number_key">Номер:</label></th>
				<td>
					<ul>
						{% for err in form.number_key.errors %}
						<li>{{ err|striptags }}</li>
						{% endfor %}
					</ul>
					{{ form.number_key }}
				</td>
			</tr>
			<tr><th><label for="id_summa">Сумма:</label></th>
				<td>
					<ul>
						{% for err in form.summa.errors %}
						<li>{{ err }}</li>
						{% endfor %}
					</ul>
					{{ form.summa }}
				</td>
			</tr>
                    
        
        </table>
        {% if del_url %}
        	<ul class="object-tools">
				<li><a href="{{del_url}}">Удалить</a></li>
			</ul>
        {% else %}	
        	<input type="submit" value="Сохранить">
        {% endif %}
    </form>

{%endblock%}