{%extends "base.html"%}
{%block content%}
<script type="text/javascript">

$(function(){
	$('#service_type tr:odd').css('backgroung-colour','#eeeeee');
});
</script>
<a href="add">Add new</a>
<br/>
<table id='service_type'>
  <tr>
    <th>CODE</th>
    <th>NAME</th>
    <th>ORDER</th>
    <th>PARENT</th>
  </tr>

{%for s in s_list  %}
  <tr>
    <td><a href="{{s.id}}">{{s.code}}</a></td>
    <td>{{s.name}}</td>
    <td>{{s.order}}</td>
    <td>
    {% if s.parent %}
    	{{s.parent.name}}
    {% else %}	
    	None
    {% endif %}
    </td>
  </tr>

{%endfor %}
</table>

{%endblock%}