{%extends "base.html"%}
{%block content%}
<script type="text/javascript">

$(function(){
	$('#service_type tr:odd').css('backgroung-colour','#eeeeee');
});
</script>
{% if perms.proc.add_servicetype %}
	<ul class="object-tools">
		<li>
			<a href="add">	Добавить</a>
		</li>
	</ul>
{% endif %}
<br/>

<table id='service_type' class='tbl'>
  <tr>
    <th>Код</th>
    <th>Наименование</th>
    <th>Порядок</th>
    <th>Подчиняется</th>
  </tr>

{%for s in s_list  %}
  <tr>
    <td><a href="{{s.id}}">{{s.code}}</a></td>
    <td>{{s.name}}</td>
    <td>{{s.order}}</td>
    <td>
    {% if s.parent %}
    	{{s.parent.name}}
    {% else %}	
    	None
    {% endif %}
    </td>
  </tr>

{%endfor %}
</table>

{%endblock%}