{%extends "base.html"%}
{%block content%}
<script type="text/javascript">

$(function(){
	$('#tarif tr:odd').css('backgroung-colour','#eeeeee');
});
</script>
<a href="add">Add new</a>
<br/>
<table id='tarif'>
  <tr>
    <th>CODE</th>    
    <th>NAME</th>
    <th>DATE BEGIN</th>    
    <th>DATE END</th>
    
  </tr>

{%for s in s_list  %}
  <tr>
  	<td><a href="{{s.id}}">{{s.code}}</a></td>
    <td>{{s.name}}</td>
    <td>{{s.date_begin}}</td>
    <td>{{s.date_end}}</td>
    
  </tr>

{%endfor %}
</table>

{%endblock%}