{%extends "base.html"%}

{% block head %}  	
  	<script type="text/javascript" src="/proc/static/js/jquery.maskedinput.js"></script> 
  	
  	<script type="text/javascript">
  	$(function() {
  		$("#id_beg_time").mask("99:99:99");	
  		$("#id_end_time").mask("99:99:99");
  	});
  	</script>
{% endblock %}	



{%block content%}

   

    {% if form.errors %}
        <p style="color: red;">
            Please correct the error{{ form.errors|pluralize }} below.
        </p>
    {% endif %}


	<form action="{{id}}" method="post">
    	{% csrf_token %}       
        <table class="tbl_frm">
            {{ form.as_table }}
        </table>
        {% if del_url %}
        	<ul class="object-tools">
				<li><a href="{{del_url}}">Удалить</a></li>
			</ul>
        {% endif %}
        <input type="submit" value="Сохранить">
    </form>

{%endblock%}