{%extends "base.html"%}
{%block content%}
<script type="text/javascript">

$(function(){
	$('#tarif_arr tr:odd').css('backgroung-colour','#eeeeee');
});
</script>
<h3>Tarif is : {{tarif.name}}</h2>
<br/>
{% if perms.proc.add_tarif %}
	<ul class="object-tools">
		<li>
			<a href="{{add_url}}">	Добавить</a>
		</li>
	</ul>
{% endif %}
<br/>

<table id='tarif_arr' class='tbl'>
  <tr>
    <th>Сумма</th>    
    <th>Минимум</th>
    <th>Максимум</th>
    <th>Процент</th>
    <th>Тариф</th>
    
  </tr>

{%for s in s_list  %}
  <tr>
    <td><a href="{{tr}}/{{s.id}}">{{s.summa}}</a></td>
    <td>{{s.min}}</td>
    <td>{{s.max}}</td>
    <td>{{s.prc}}</td>
    <td>{{s.tarif.name}}</td>
  </tr>

{%endfor %}
</table>

{%endblock%}